<p-toolbar [styleClass]="'sticky'" [style]="{position: 'sticky'}">
  <div class="p-toolbar-group-start">
    <p-button [text]="true" class="mr-2" icon="pi pi-home" label="Home" routerLink="/home" routerLinkActive="active" />
    <p-button [text]="true" icon="pi pi-info-circle" label="About" routerLink="/about" routerLinkActive="active" />
  </div>
  <div class="p-toolbar-group-end">
    <a
      pButton
      [raised]="true"
      [rounded]="true"
      [text]="true"
      icon="pi pi-github"
      href="https://github.com/cynavi/sales-analysis"
      target="_blank"
    ></a>
  </div>
</p-toolbar>
