@import 'primeicons/primeicons.css';

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.xy-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.min-h-screen {
  min-height: 100vh;
}

.min-h-full {
  min-height: 100%;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.m-0 {
  margin: 0;
}

.sticky {
  position: sticky !important;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-1 {
  margin-right: 0.125rem;
}

.ml-1 {
  margin-left: 0.125rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mt-8 {
  margin-top: 2rem;
}
